.modal_wrapper{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.modal_wrapper > div{
  margin: auto;
}
.modal_place_a_bid{
  margin-top: 12pt;
}

modal_place_a_bid_close{
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 22px;
  top: 12pt;
  font-weight: 400;
}
