.event_card{

}
.event_card__row{
    width: 250px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.event_card__row_img{
    width: 100%;
    height: 124px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.event_card__row_img img{
    width: 100%;
    height: auto;
}
.event_card__row_info{
    color: #000;
    text-align: left;
}
.event_card__row_title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    text-transform: capitalize;
    color: #000;
    display: block;
}
.event_card__row_fund{

}

.event_card__row_fund,
.event_card__row_date{
    font-size: 13px;
    font-weight: 400;
    color: $warmGrey;
    margin-bottom: 4px;
}

