.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: calc(100% - 50px);
    background-color: #fff;

}
.footer a{
    display: block;
    width: 85px;
}
.footer_item{
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: $warmGrey;

}
.footer_img{
    width: 24px;
    height: 24px;
    margin: 6px auto 4px auto;

}
.footer_img img{
    width: 100%;
    height: 100%;
}
.footer_img_invest{
    background: url("/images/footer/invest.png") no-repeat center;
    background-size: 100%;
}
.footer_img_bids{
    background: url("/images/footer/bids.png")no-repeat center;
    background-size: 100%;
}
.footer_img_sale{
    background: url("/images/footer/sale.png")no-repeat center;
    background-size: 100%;
}
.footer_img_wallet{
    background: url("/images/footer/wallet.png")no-repeat center;
    background-size: 100%;
}
.footer_img__active_invest{
    background: url("/images/footer/invest_active.png")no-repeat center;
    background-size: 100%;
}
.footer_img__active_bids{
    background: url("/images/footer/bids_active.png")no-repeat center;
    background-size: 100%;
}
.footer_img__active_sale{
    background: url("/images/footer/sale_active.png")no-repeat center;
    background-size: 100%;
}
.footer_img__active_wallet{
    background: url("/images/footer/wallet_active.png")no-repeat center;
    background-size: 100%;
}

.footer_item__active{
    color: black;
}
