.sale_card__list{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.sale_card__list-last_child{
    margin-bottom: 50px;
}

.sale_card__row{

}

.sale_card__list_profile_info{
    width: 100%;
    margin-left: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}
.sale_card__list_profile__photo{
    width: 36px;
    height: 36px;
    border: 1px solid grey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: grey;
    margin-right: 10px;
}
.sale_card__list_profile__photo img{
    width: 100%;
    height: auto;
}

.sale_card__profile_name{
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
}
.sale_card__event{
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}
.sale_card__subevent{
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin-left: 72.5px;
    margin-bottom: 8px;

}

.sale_card__subevent::before{
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    opacity: .3;
    position: absolute;
    top: calc(50% - 4px);
    left: -10px;
}



.sale_card_list_atr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    .sale_card_list_atr_value{
        color: #000000;
    }

}

.sale_card_list_atr_item span{
    color: $warmGrey;
}
//.sale_card_list_atr div span
//{
//    color: rgb(148, 148, 148);
//}
//.game_atrs__date_start{
//    width: 45%;
//}
