<md-sidenav class="md-sidenav-right full_height" style="min-width: 620px" md-is-open="isSidenavOpen" md-component-id="right_sale_details">
    <md-content>
        <div class="modal_content modal_sale_details">
            <div class="your_profile__title">
                Sales Overview
                <div class="your_profile_close"></div>
            </div>
            <div class="modal_sale__user_info">
                <div class="modal_sale__user_info__pic">
                    <img src="/images/desk/players_img/profile_img_8.png" alt="pic">
                </div>
                <div class="modal_sale__user_info__profile">
                    <span class="name">Louise Romero</span>
                    <span class="link">Open profile</span>
                </div>
                <div class="profile_status__gte_and_by">
                    <div class="profile_status__buyin">£ <span>1,000</span></div>
                    <div class="profile_status__gte">£<span>500,000</span> GTE</div>
                </div>
            </div>
            <div class="modal_sale__user_details_info">
                <div class="modal_sale__user_details_info__title">
                    <div>Seller</div>
                    <div>Markup</div>
                    <div>Share</div>
                    <div>Value</div>
                    <div>Placed</div>
                </div>
                <div class="modal_sale__user_details_info__content">
                    <div>Louise Romero</div>
                    <div>1.20</div>
                    <div>1.53%</div>
                    <div>$49,292</div>
                    <div>July 13, 10:11</div>
                </div>

            </div>
            <div class="underline"></div>
            <div class="modal_sale__user_details_info">
                <div class="modal_sale__user_details_info_type">
                    MATCHED BIDS
                </div>
                <div class="modal_sale__user_details_info__title">
                    <div>Seller</div>
                    <div>Markup</div>
                    <div>Share</div>
                    <div>Value</div>
                    <div>Placed</div>
                </div>
                <div class="modal_sale__user_details_info__content sale_details_matched">
                    <div>Louise Romero</div>
                    <div>1.20</div>
                    <div>1.53%</div>
                    <div>$49,292</div>
                    <div>July 13, 10:11</div>
                </div>
                <div class="modal_sale__user_details_info__content sale_details_matched">
                    <div>Louise Romero</div>
                    <div>1.20</div>
                    <div>1.53%</div>
                    <div>$49,292</div>
                    <div>July 13, 10:11</div>
                </div>
                <div class="modal_sale__user_details_info__content sale_details_matched">
                    <div>Louise Romero</div>
                    <div>1.20</div>
                    <div>1.53%</div>
                    <div>$49,292</div>
                    <div>July 13, 10:11</div>
                </div>

            </div>

            <div class="underline"></div>
            <div class="modal_sale__user_details_info">
                <div class="modal_sale__user_details_info_type">
                    UNMATCHED BIDS
                </div>
               <div class="not_found">
                   No matched bids for this sale.
               </div>

            </div>




        </div>
        <div class="modal_foter modal_sale_details__footer">

                <div class="button">See log</div>
                <div class="button red">Player lose</div>
                <div class="button grey">Player left</div>
                <div class="button green">Player won</div>

        </div>
    </md-content>
</md-sidenav>
