<div class="won">
    <div class="won_confirm">
        Confirm your action
    </div>
    <div class="won_description">
        Selected the placement and enter winning amount
    </div>
    <div class="won_selects">
        <div class="won_select">
            <md-select placeholder="Not placed" ng-model="DealerWinCtrl.currency"
                       class="select_placed">
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
            </md-select>
        </div>
        <div class="won_select">
            <input type="text" class="select_input" placeholder="Amount">
        </div>
        <div class="won_select">
            <md-select placeholder="$" ng-model="DealerWinCtrl.currency" class="select_currency">
                <!--<md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>-->
                <md-option value="1">$</md-option>
                <md-option value="2">£</md-option>
                <md-option value="3">€</md-option>
                <md-option value="4">¥</md-option>
            </md-select>
        </div>
    </div>
    <div class="won_buttons">
        <div class="won_button won_button__cancel">Cancel</div>
        <div class="won_button won_button__confirm" ng-click="DealerWinCtrl.hui()">Confirm</div>
    </div>
</div>
