a{
    text-decoration: none;
}
.deskwr{
    max-width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}
.header{
    width: 194px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    position: fixed;
    left: 0;
    top: 32px;
}
.logo{
    width: 100%;
    margin-bottom: 30px;
}
.logo img{
    width: auto;
    height: auto;
}
.menu{
    width: 100%;
    margin-bottom: 128px;
}
.menu_list{
    list-style: none;
    padding-left: 0;
}
.menu_item{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #000;
    //opacity: 0.4;
    height: 40px;
    line-height: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.menu_item_active{
    opacity: 1;
}
.menu_item a{
    text-decoration: none;
    color: #000;
}
.invest_count{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ff3700;
    text-align: center;
    line-height: 24px;
    color: #fff;
}

.last_up__title{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    opacity: 0.6;

}
.last_up__item{
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}
.last_up .last_up__item:nth-child(2){
    background-color: rgba(0, 127, 237, 0.1);
}
.last_up .last_up__item:nth-child(3){
    background-color: rgba(255, 190, 0, 0.1);
}
.last_up .last_up__item:nth-child(4){
    background-color: rgba(0, 200, 17, 0.1);
}
.last_up .last_up__item:nth-child(5){
    background: linear-gradient(to bottom, rgba(255, 55, 0, 0.1), #ffffff);
}

.message{
    //margin-left: 34px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.last_up_marker{
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.last_up_marker img{
    width: auto;
    height: auto;
}

.profile_info{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 17px;
    margin-top: 137px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.pi_wr{
    display: flex;
    align-items: center;
}
.profile_img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
}
.profile_img img{
    width: 100%;
    height: auto;
}
.logout{
    width: 13px;
    height: 13px;
    background: url("/images/desk/right_enter.png") no-repeat left;
}
.heders_footer a{
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 15px;
}
/*main comtent*/
.main_content{
    margin-left: 230px;
    padding-left: 86px;
    padding-top: 32px;
}

/*bids content*/
.bids_content_wr{
    width: 996px;
}
.bids_nav{
    width: 100%;
    margin-bottom: 16px;
}
.bids_nav_list{
    list-style: none;
    display: flex;
}
.bids_nav_item{
    margin-right: 24px;
}
.bids_nav_item a{
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}
.bids_nav_item_active a{
    color: rgba(0, 0, 0, 1);
}

.bids_table{
    width: 100%;
    border-spacing: 0 1px;
}
.bids_table_head{
    text-transform: uppercase;
}
.bids_table td{
    height: 53px;
    line-height: 53px;
}
.bids_table_body tr{
    //background-color: #fff2ec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bids_content_unmatched .bids_table_body tr{
    background-color: #fff2ec;
}
.bids_content_canceled .bids_table_body tr{
    background-color: #edebf6;
}
.bids_content_matched{
    background-color: #e7f7e4;
}
.bids_content_settled{
    background-color: #edf8fd;
}
.t_outcome_minus{
    color: #ff334c;
}
.t_outcome_plus{
    color: #00c811;
}
.t_from{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.t_from_img{
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0 10px;
}
.t_from_img img{
    width: 100%;
    height: auto;
}
.bids_table_head{
    font-size: 12px;
    font-weight: 900;
}
.bids_table_head td:first-child{
   padding-left: 10px;
}


/*logOut*/
.log_out-wr{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.log_out_profile{
    width: 420px;
    border-radius: 12px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
}
.log_out_text{
    width: 324px;
    margin: 40px auto 24px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.log_out_text span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
}
.log_out_btn{
    width: 220px;
    display: flex;
    margin-left: 150px;
    align-items: center;
    font-size: 15px;
    color: #050505;
    margin-bottom: 40px;
}
.log_out_ok{
    width: 111px;
    height: 38px;
    border-radius: 6px;
    background-color: #007fed;
    line-height: 38px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 24px;
    font-size: 15px;
    font-weight: 600;
}
/*logOut end*/

/*profile menu*/
.your_profile_wr{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.your_profile_content-wr{
    height: 100%;
    background-color: #fff;
}
.your_profile_content{
    width: 480px;
    margin: 24px 40px 0 40px;
    display: flex;
    flex-direction: column;
}
.your_profile__title{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 24px;
    position: relative;
}
.your_profile_close{
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    font-weight: 200;
    background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}
.your_profile_info{
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.your_profile__pic{
    width: 96px;
    height: 96px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 16px;
}
.your_profile__pic img{
    width: auto;
    height: auto;
}
.your_profile__name{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    position: relative;
}
.change_photo{
    position: absolute;
    top: 25px;
    left: 0;
    font-size: 15px;
    color: #999999;
    width: 150px;
    font-weight: 100;
}
.link_party_pk{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 32px;
}
.link_party_inf{
    width: 100%;
    background-color: rgba(252, 77, 2, 0.1);
    padding: 16px 20px;
    text-align: center;
    color: #fc4d02;
    font-size: 15px;

    box-sizing: border-box;
    font-weight: 500;
    border-radius: 6px 6px 0 0;
}
.link_party_btn{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    background-color: #fc4d02;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}
.your_profile_nav{
    width: 100%;
}
.pr_nav_list{
    list-style: none;
    padding-left: 0;
}
.pr_nav_item{
    height: 54px;
    line-height: 54px;
    position: relative;
    padding-left: 30px;
    overflow: hidden;

}
.pr_nav_item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
.pr_show_more{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    bottom: 16px;
    background: url("/images/desk/pr_show_more.png") no-repeat center;
    cursor: pointer;
}
.pr_nav_item a{
    color: #000;
    font-size: 16px;
}

.pr_setting{
    background: url("/images/b@3x_setting.png") no-repeat left;
    background-size: 20px;
}

.pr_notification{
    background: url("/images/b@3x_notification.png") no-repeat left;
    background-size: 20px;
}

.pr_privacy {
    background: url("/images/b@3x_privacy.png") no-repeat left;
    background-size: 20px;
}


.pr_acc_inf{
background: url("/images/b_3@3x.png") no-repeat left;
    background-size: 20px;
}

.pr_support{
background: url("/images/b@3x_support.png") no-repeat left;
    background-size: 20px;
}

.pr_tell{
background: url("/images/b@3x_tell.png") no-repeat left;
    background-size: 20px;
}

/*profile menu end*/

/*events */
.event_content-wr{
    width: 996px;
    margin-bottom: 56px;
}
.event_content__title{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;
}
.event_content__see_more{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: 600;

}
.event_content__see_more a{
    color: #007fed !important;
}
/*event filter*/

.filter-wr{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}
.filter_item{
    width: 243px;
    height: 38px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.04);
    margin-right: 8px;
}
.filter_item:last-child{
    margin-right: 0;
}
.filter_item select{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.06);
    margin-right: 8px;
    outline: none;
    padding-left: 12px;
    cursor: pointer;
}
.filter_item option{
    padding-bottom: 12px;
}

/*event filter end*/
.events_item-wr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.event_item{
    width: 320px;
    margin: 0 18px 24px 0;
}
.event_item:nth-child(3n){
    margin: 0 0 24px 0;
}
.event_item__pic{
    width: 100%;
    height: 160px;
    overflow: hidden;
    margin-bottom: 12px;
}
.event_item__pic img{
    width: auto;
    height: auto;
}
.event_info{
    width: 100%;
    text-aling: left;
}
.event_info_name{
    width: 100%;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 4px;
}
.event_info_date-gtd{
    width: 100%;
    display: flex;

    font-size: 15px;
    font-weight: 400;
    color: #999999;
    text-align: left;
}
.event_info_date{
    position: relative;
    margin-right: 22px;
}
.event_info_date::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #cdcdcd;
    position: absolute;
    top: 5px;
    right: -10px;
}
/*events end*/

/*Closing soon*/

.events_tabs-wr{
    width: 996px;
    margin-bottom: 60px;
}
.events_tabs_nav{
    width: 100%;
    margin-bottom: 16px;
}
.events_tabs_list{
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
}
.events_tabs_item{
    font-size: 24px;
    font-weight: 700;
    color: #999999;
    margin-right: 24px;
}
.events_tabs_item_active{
    color: #000;
}

.table_events_list{
    width: 100%;
    border-spacing: 0 1px;
}
.table_events_head td{
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}
.table_events_head td:last-child,
.t_time{
    text-align: right;
}

.table_events_list tr,
.t_from_event{
    height: 52px;

}
.table_events_list tr td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*place_a_bit*/

.place_a_bit-wr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    //display: none;
}
.place_a_bit_content-wr{
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 24px 40px 0 40px;
}
.place_a_bit_content{
    width: 100%;
    height: 100%;
}
.place_a_bit__title{
    width: 100%;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.profile_status > div{
    display: flex;

}
.profile_status__photo{
    margin-right: 10px;
}
.profile_status__name{
    font-size: 15px;
    font-weight: 600;
}
.profile_status__event{
    margin-right: 79px;
    font-size: 15px;
}
.gte_and_by{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;

}
.profile_status__buyin{
    position: relative;
    margin-right: 21px;
}
.profile_status__buyin::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #949494;
    position: absolute;
    top: 6px;
    right: -11px;
}
.profile_status >.d-flex{
    margin-top: 10px;
    margin-bottom: 20px;
}
.profile_status__markup,
.profile_status__share{
    margin-right: 68px;
}
.profile_status >.d-flex > div{
     font-size: 15px;
 }

.profile_status >.d-flex > div span{
    font-size: 12px;
    color: #949494;
}
.highest_bids {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.highest_bids span,
.you_bids span{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}
.highest_bids > div{
    width: 100%;
    display: flex;
}
.highest_bids > div input{
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #edf8fd;
    padding-left: 12px;
    padding-right: 12px;
    color: #000;
}
.highest_bids > div ::-webkit-input-placeholder{
    color: #000;
}
.highest_bids > div input:last-child{
    width: auto;
}
.matched_bids > div > input{
    background-color: #e7f7e4;
}
.edit_status{
    position: relative;
}
.revocation_bid,
.conf_bid,
.del_bid{
    position: absolute;
    width: 24px !important;
    height: 24px;
    top: 33px;
    cursor: pointer;
}
.revocation_bid{
    left: 78%;
    background: url("/images/checked.svg") no-repeat center;
    background-size: 80%;
}
.conf_bid{
    left: 86%;
    background: url("/images/cross-out.svg") no-repeat center;
    background-size: 80%;

}
.del_bid{
    left: 96%;
    background: url("/images/desk/trash_cart.png") no-repeat center;
}
.you_bids span{
    display: block;
    font-size: 12px;
    color: #949494;
    margin-bottom: 10px;
}
.place_a_bit_content .edit_status input{
    background-color: #fff2ec;
}
.you_bids > div{
    width: 100%;
    display: flex;

}
.you_bids > div > div input{
    width: 100px;
    height: 38px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.04);
    padding-left:12px;
    border: none;
    outline:none;
    margin-top: 5px;
}
.you_bids > div > div ::-webkit-input-placeholder{
    color: #000;
}
.you_bids label{
    font-size: 15px;
    color: #949494;

}

.add_new{
    width: 38px;
    height: 38px;
    border-radius: 6px;
    background-color: #007fed;
    position: relative;
    cursor: pointer;
    align-self: flex-end;
}
//.add_place_a_bit{
//    width: 118px;
//    height: 38px;
//    line-height: 38px;
//    border-radius: 6px;
//    background-color: #007fed;
//    cursor: pointer;
//    align-self: flex-end;
//    text-align: center;
//    color: #ffffff;
//}
.add_new::before{
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
}
.add_new::after{
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: calc(50% - 8px);

}
/*modal window reaped elements*/
.full_sc-wr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    //display: none;
}
.right_side_content-wr{
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 24px 40px 0 40px;
    position: relative;
}
.right_side_content{
    width: 100%;
    height: 100%;
}
.right_side_content__title{
    width: 100%;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.right_side_content__close{
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    font-weight: 200;
    background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}
.right_side_content__footer{
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
}
/**/
.buyin_span{
    font-size: 12px;
}
.bids_status > span{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    display: block;
    margin-bottom: 10px;
}
.bids_status > div{
    display: flex;
    margin-bottom: 8px;
}

.bids_status > div input{
    width: 100px;
    height: 40px;
    padding-left: 12px;
    background-color: #edf8fd;
    outline: none;
    border-radius: 4px;
    border: none;
    margin-right: 4px;
}
.bids_status > div input:nth-child(3){
    width: call(auto - 40px);

}
.bids_status > div ::-webkit-input-placeholder{
    color: #000;
}
.confirm_bids{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    //background-color: #e7f7e5;
    background-color: #edf8fd;
}
.confirm_bids_accept{
    background-color: #e7f7e5;
    position: relative;
}
.confirm_bids_accept::after{
    content: '\2714';
    position: absolute;
    color: #000;
    top: 7px;
    left: 14px;
}
.right_side_content__footer_btn{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.pay_remaining{
    width: 209px;
    height: 38px;
    border-radius: 6px;
    background-color: #f6f6f6;
    line-height: 38px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-right: 16px;
    margin-left: 24px;
}
.cansel_sale{
    cursor: pointer;
    color: #050505;
    opacity: 0.6;
}

.accept-wr{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.change_share{
    position: absolute;
    top: calc(50% - 105px);
    right: 50px;
    display: none;
}
.accept_bid{
    position: absolute;
    top: calc(50% - 105px);
    right: 50px;
}
.accept_changed_input{
    display: flex;
    margin-bottom: 24px;
    width: 100%;
}
.accept_changed_input ::-webkit-input-placeholder{
    color: #000;
}
.accept_changed_input input{
    width: 99px;
    height: 40px;
    border-radius: 4px;
    background-color: #edf8fd;
    margin-right: 4px;
    box-sizing: border-box;
    padding-left: 12px;
    border: none;
    outline: none;
}
