.place_wrapper {
  width: 100vw;
  height: 100vh;
  /*display: grid;
  grid-template-rows: 210px auto 80px;*/
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.my_sale__header {
  padding: 0 15px;
  top: 0;
  left: 5%;
  right: 5%;
  background-color: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 5px 0px #e0e0e0;
          box-shadow: 0px 2px 5px 0px #e0e0e0;
}

.my_sale__header .card__profile_info {
  margin: 0 0 12px 0;
}

.my_sale__header .binds-item__game_info {
  padding-left: 0;
}

.my_sale__header .card__event_info {
  margin-top: 0px;
}

.my_sale__header .event_card_fund {
  color: #949494;
  margin-bottom: 12px;
}

.my_sale__header .manage_sale_atr_item span {
  margin-bottom: 4px;
}

.my_sale__header .manage_sale_atr__yellow .manage_sale_atr_item:first-child {
  width: 24.75%;
}

.my_sale__header .manage_sale_atr__yellow .manage_sale_atr_item:first-child input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.my_sale__header .manage_sale_atr__yellow .manage_sale_atr_item:nth-child(2) {
  width: 24.75%;
}

.my_sale__header .manage_sale_atr__yellow .manage_sale_atr_item:nth-child(3) {
  width: 49.5%;
}

.my_sale__header .manage_sale_atr__yellow .manage_sale_atr_item:nth-child(3) input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.my_sale__content {
  padding: 10px 15px 0 15px;
  overflow-y: scroll;
  height: calc(100% - 340px) !important;
}

.hideempty {
  height: 80px;
  width: 100%;
  position: static  !important;
  background-color: #fff;
}

.modal_add_bid {
  width: 90%;
  margin: auto;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  position: static;
  bottom: 16px;
  background-color: #ffffff;
}

.modal_add_bid_blue {
  background-color: #007fed;
  color: #fff;
  border-radius: 10px;
}

.manage_button {
  width: 100%;
  height: 48px;
  line-height: 48px;
  position: static;
  background-color: #ffffff;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_half {
  font-size: 16px;
}

.button_half__white {
  width: 43%;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  position: static;
  z-index: 500;
  background-color: #ffffff;
  margin-right: 5px;
}

.button_half__blue {
  color: white;
  width: 45%;
  height: 48px;
  line-height: 48px;
  border: 1px solid #007fed;
  border-radius: 10px;
  text-align: center;
  position: static;
  background-color: #007fed;
}

