<div class="footer">
    <a ui-sref="invest">
        <div class="footer_item">
            <div class="footer_img footer_img_invest"></div>
            invest
        </div>
    </a>
    <a ui-sref="bids">
        <div class="footer_item">
            <div class="footer_img footer_img_bids"></div>
            bids
        </div>
    </a>
    <a ui-sref="sale">
        <div class="footer_item">
            <div class="footer_img footer_img_sale"></div>
            sale
        </div>
    </a>
    <a ui-sref="wallet">
        <div class="footer_item">
            <div class="footer_img footer_img_wallet footer_img__active_wallet"> </div>
            wallet
        </div>
    </a>
</div>
