

        <div class="right_side_content my_sale-wr">
            <div class="my_sale_title">
                My sale
                <div class="my_sale_close"></div>
            </div>
            <div class="profile_status">
                <div>
                    <div>
                        <div class="my_sale__event">MILLIONS Russia, 1A</div>
                        <span class="buyin_span">Buy in $3,234 + $2,004</span>
                    </div>
                    <div class="gte_and_by">
                        <div class="profile_status__buyin">£1,000</div>
                        <div class="profile_status__gte">£500,000 GTE</div>
                    </div>
                </div>

                <table class="my_sale_table">
                    <tr>
                        <td><span>Closes in</span><br>73 days</td>
                        <td><span>Share sold</span><br>5%</td>
                        <td><span>Amount raised</span><br>$1892</td>
                    </tr>
                    <tr>
                        <td class="my_sale_markup"><span>Markup</span><br><input type="text" placeholder="1.00"></td>
                        <td class="my_sale_share"><span>Share</span><br><input type="text" placeholder="1.38%"></td>
                        <td class="my_sale_value"><span>Value</span><br><input type="text" placeholder="$1938"></td>
                    </tr>
                </table>
            </div>
            <div class="unmatched_bids bids_status">
                <span>UNMATCHED BIDS</span>

                <div>
                    <input type="text" placeholder="1.09">
                    <input type="text" placeholder="0.38%">
                    <input type="text" placeholder="$443">
                    <div class="confirm_bids"></div>
                </div>
                <div>
                    <input type="text" placeholder="1.20">
                    <input type="text" placeholder="1.53%">
                    <input type="text" placeholder="$1,182.22">
                    <div class="confirm_bids"></div>
                </div>
                <div>
                    <input type="text" placeholder="1.09">
                    <input type="text" placeholder="0.38%">
                    <input type="text" placeholder="$443">
                    <div class="confirm_bids confirm_bids_accept"></div>
                </div>

            </div>
            <hr>
            <div class="my_sale_attention">
                Your sale is almost finished, top-up your sale if you want sell more
            </div>
            <div class="increase_btn button">
                Increase your share
            </div>
            <span ng-include="'tpl/view/footer.template.html'"></span>
        </div>



