<div class="row">
    <div class="personal_inform col-md-12">
           <a ui-sref="auth.registration" class="goback" href="index"></a>


            <div class="data-privacy">
            <span>Terms & Conditions</span>
            To esure your expirience is personal and relevant, we’re changing the type of advert you see and giving your more control over your data
        </div>
        <div class="check-box-wr">
            <div class="check-box__email">
                <input type="checkbox" id="sms_new" checked>
                <label for="sms_new">Yes, I’d like to hear about the latest poker news and promotions by Email</label>

            </div>
            <div class="check-box__email">
                <input type="checkbox" id="email_new" checked>
                <label for="email_new">Yes, I’d like to hear about the latest poker news and promotions by SMS</label>

            </div>
        </div>
        <input id='termconfirm' type="submit" name="submit_confirm" value="Confirm" style="border-radius:10pt;">



        <div class="see_policy">
            <a ui-sref="privacy-policy">See Privacy policy</a>
        </div>


    </div>
</div>