<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="wallet_container">
            <div class="wallet_title">
                <div class="wallet_title__text">My balance <span>$ 20,240.98</span></div>
                <div class="wallet_title__button">Make Deposit</div>
            </div>
            <div class="wallet_navigation">
                <div class="wallet_navigation__title">Transactions</div>
                <div class="wallet_navigation__tabs_wrapper">
                    <div class="wallet_navigation__tabs">
                        <div class="wallet_navigation__tabs_item wallet_navigation__tabs_item_active">Last mont</div>
                        <div class="wallet_navigation__tabs_item">Half year</div>
                        <div class="wallet_navigation__tabs_item">Choose dates</div>
                    </div>
                    <div class="wallet_navigation__search">Search by sender’s or reciver’s</div>
                </div>
            </div>
            <div class="wallet_table_wrapper">
                <div class="wallet_table">
                    <div class="wallet_table__title">
                        <div class="wallet_table__title_item cell_date">DATE</div>
                        <div class="wallet_table__title_item cell_name">EVENT</div>
                        <div class="wallet_table__title_item cell_event">EVENT</div>
                        <div class="wallet_table__title_item cell_status">Status</div>
                        <div class="wallet_table__title_item cell_delta"></div>
                        <div class="wallet_table__title_item cell_balance">BALANCE</div>
                    </div>
                    <div class="wallet_table__content">
                        <div class="wallet_table__content_row">
                            <div class="wallet_table__content_row_data cell_date">27 May</div>
                                <div class="wallet_table__content_row_transactions">
                                    <div class="wallet_table__content_row_transaction">
                                        <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                            <div class="transaction_img"><img src="/images/desk/right_arrow_green.png" alt=""></div>
                                        </div>
                                        <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                        <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                        <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                        <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                                    <div class="wallet_table__content_row_transaction">
                                        <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                            <div class="transaction_img"><img src="/images/desk/left_arrow_grey.png" alt=""></div>
                                        </div>
                                        <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                        <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                        <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                        <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                    </div>
                            </div>
                        </div>
                        <div class="wallet_table__content_row">
                            <div class="wallet_table__content_row_data cell_date">27 May</div>
                            <div class="wallet_table__content_row_transactions">
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/right_arrow_green.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/right_arrow_green.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/right_arrow_green.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/right_arrow_green.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status status_color__yellow">Pending</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta">-495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="wallet_table__content_row">
                            <div class="wallet_table__content_row_data cell_date">27 May</div>
                            <div class="wallet_table__content_row_transactions">
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/left_arrow_grey.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status">Sent</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta status_color__green">+495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                                <div class="wallet_table__content_row_transaction">
                                    <div class="wallet_table__content_row_transaction__name cell_name">North Andreane
                                        <div class="transaction_img"><img src="/images/desk/left_arrow_grey.png" alt=""></div>
                                    </div>
                                    <div class="wallet_table__content_row_transaction__event cell_event">MILLIONS Russia, 1A</div>
                                    <div class="wallet_table__content_row_transaction__status cell_status">Sent</div>
                                    <div class="wallet_table__content_row_transaction__delta cell_delta status_color__green">+495</div>
                                    <div class="wallet_table__content_row_transaction__balance cell_balance">20,240.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

